* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#e66465, #9198e5);
  font-family: 'Open Sans', sans-serif;
  position: fixeddda;
}

#title {
  margin: 16px;
  padding: 16px;
  background-color: rgb(177, 255, 255);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: rgb(56, 56, 56);
}

.data-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.data {
  font-size: 2.25rem;
  margin: 1em;
}

.time-text,
.score-text {
  text-shadow: 2px 2px 6px white;
}

#word {
  font-size: 3rem;
  margin: 16px;
  padding: 16px;
}

#input {
  border: none;
  padding: 16px;
  width: 75%;
  font-size: 1.5rem;
  background-color: rgba(25, 25, 25, 0.1);
  border: 3px solid rgba(25, 25, 25, 0.7);
  border-radius: 8px;
}

.start-game-modal {
  background: linear-gradient(#201675f6, #9198e5);
  position: absolute;
  top: 15%;
  left: 15%;
  /* margin-left: -25%;
  margin-top: -25%; */
  width: 75%;
  height: 65%;
  z-index: 100;
  border: 1px solid #fff;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .start-game-modal {
    font-size: 1.5rem;
  }

  .startBtn {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .start-game-modal {
    font-size: 2.1rem;
  }
}

@media (min-width: 1200px) {
  .start-game-modal {}
}


.hidden {
  display: none;
}

.modalHeader {
  color: #fff;
  margin: auto;
  padding: 10%;
}

.startBtn {
  margin-top: 10%;
  padding: 16px;
  background: linear-gradient(#0da708f6, #45e645fa);
  border: 1px solid #9198e5;
  cursor: pointer;
}

.startBtn:hover {
  transform: scale(1.1);
}

.instructions {
  margin: 16px;
  padding: 16px;
  color: #fff;
}