.parent {
  justify-content: end;
  margin-left: 10%;
}

.z {
  font-size: 1.6rem;
  padding: 16px;
  text-shadow: 1px 1px 1px #fff;
}

.kb {
  padding: 8px;
  margin: auto;
  text-align: center;
}

input {
  /* border: none; */
  padding: 8px;
  margin: 10px;
  width: 60%;
}